---
import Layout from '../layouts/Layout.astro';

interface Props {
	title: string;
	href: string;
	body: string;
	cover_image: string;
	contrast: 'black' | 'white';
}

const { href, title, body, contrast } = Astro.props;
const { cover_image } = Astro.props;
---

<a href={href}>
<div class="link-card" style={`--bg-image: url('/src/assets/images/${cover_image}.png')`}>

		<div class="title-container">
			<h2 class={contrast}>{title}</h2>
			<p class={contrast}>{body}</p>
		</div>

</div>
</a>

<style>
	.link-card {
		/* Background image */
		background-image: var(--bg-image);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		display: flex;
		flex-direction: row;
		flex: 1 0 auto;
		align-items: center;
		align-content: center;
		border: 1px solid var(--button-border);
		position: relative;
		width: 100%;
		height: 24rem;
		transition: all .1s;
	}
	.link-card:hover {
		border: 1px solid var(--accent);
		transition: all .1s;
	}

	.title-container {
		position: absolute;
		top: 16px;
		left: 16px;
		width: 100%;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
	}
		.title-container p {
			margin: 0;
			width: 90%;
			opacity: 70%;
		}
	a {
		all: unset;
		cursor: pointer;
	}

	h2 {
		color: var(--contrast);
		margin: 0;
		font-weight: 600;
	}
		/* Text contrast variables for card title */
		.title-container .black {
			color: var(--text-primary);
		}
		.title-container .white {
			color: var(--text-inverse);
		}
		
	/* Mobile */
	@media only screen and (max-width: 600px) {
		.link-card {
			width: auto;
			max-width: none;
			margin: 0 auto 1em;
		}
	}
</style>
