---
import Layout from '../layouts/Layout.astro';

interface Props {
    title: string;
    body: string;
    href: string;
    type: 'KLWP' | 'KWGT' | 'KWCH'; // Define allowed icon values
    cover_image: string;
}

const { href, title, body, type, cover_image} = Astro.props;
---

<a href={href}>
<div class="link-card">
    <div class="cover-image-container"> 
        <div class="cover_image" style={`--cover-image: url('/src/assets/images/${cover_image}')`}></div>
    </div>
    <div class="title-container"> 
		<div>
			<h2>{title}</h2>
			<p>{body}</p>
		</div>
        <img id="icon" src={`/src/assets/icons/${type}.svg`}  alt="">
    </div> 
</div>
</a>

<style>
    .link-card {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        /* border: 1px solid var(--border-subtle-00); */
		background-color: var(--layer-01);
        width: auto;
        /* min-height: 20rem;  Optional: Set a minimum height if needed */
        transition: all .1s;
        align-items: flex-start;
		height: 100%;
		/* height: 100%; */
    }

    .link-card:hover {
        background-color: var(--layer-hover-01);
        transition: all .1s;
    }

    .cover-image-container { 
        width: 100%;
        padding-top: 100%; 
        position: relative;
        overflow: hidden; 
    }

    .cover_image {
        background-image: var(--cover-image);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .title-container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 0 auto; 
		flex-grow: 1;
        padding: 1rem; /* Add padding for better spacing */
    }
	.title-container p {
		margin-top: .6em;
	}

    .title-container img {
        width: 24px;
    }

    .link-card #icon {
        width: 40px;
        height: 40px;
        margin-top: 0.5rem; /* Add some margin to separate the icon */
    }

    a {
        all: unset;
        cursor: pointer;
    }

    h2 {
        margin: 0;
        font-weight: 600;
    }

    @media only screen and (max-width: 768px) { 
        .link-card {
            width: 100%; 
			height: 100%; /* Or adjust to your desired height */
        }

        .cover-image-container {
            width: 100%; 
        }

        .title-container {
            width: 100%; 
            padding-left: 1rem; 
        }
    }

</style>